/* CSS Document */

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.txttopmenu {
	font-family: tahoma;
	font-size: 11px;
	color: A3E0FF;
	text-decoration: none;
}
.txttopmenu:hover {
	font-family: tahoma;
	font-size: 11px;
	color: A3E0FF;
	text-decoration: underline;
}
.txttopmenu:a {
	font-family: tahoma;
	font-size: 11px;
	color: A3E0FF;
	text-decoration: none;
}

body {margin:0px;}

#hrzbar {
	background-color:#F3F3F3;
	height:18px;
	border-top: 1px solid #fff;
	border-right: 1px none #fff;
	border-bottom: 1px solid #fff;
	border-left: 1px none #fff;
}

#hrzbar table td {height:18px; border-right:1px solid #fff;}
#hrzbar a {text-decoration: none; display:block; font-family:tahoma; font-size:10px; vertical-align:middle;
	height:18px; padding-left:5px; padding-right:5px; color:#fff;}

#hrzbar a:hover {background-color:#ccebff; color: #337daf;} 
#hrzbar .itemhigh {background-color:#ff3300}
#hrzbar .hitem {width:170px;}

#menu a {text-decoration:none;color:#555;}

#menu td, #menu td.mitem {font-size:10px; font-family:tahoma; height:18px;}
#menu td.menusec  {background-color:#9c999c; height:18px; color:#fff;}
#menu td.h {height:1px;}

#menu td.mitem1 {background-color:#EEE}
#menu td.mitemhigh  {background-color:#ff3300;}
#menu td.mitemhigh1 {background-color:#CCCCCC;}
#menu td.mitemhigh2 {background-color:#ff3300;}
#menu td.mitemhigh3 {background-color:#CCCCCC;}
#menu td.mitemhigh4 {background-color:#ff3300;}
#menu td.mitemhigh5 {background-color:#CCCCCC;}

#menu td.mitemhigh a,
#menu td.mitemhigh1 a,
#menu td.mitemhigh2 a,
#menu td.mitemhigh3 a,
#menu td.mitemhigh4 a,
#menu td.mitemhigh5 a
 {color: white;}

#menu td.smitem,
#menu td.smitem2,
#menu td.smitem3,
#menu td.smitem4,
#menu td.smitem5 {height:1px;background-color:#F3F3F3;}
#menu td.smitem1,
#menu td.smitemhigh,
#menu td.smitemhigh1,
#menu td.smitemhigh2,
#menu td.smitemhigh3,
#menu td.smitemhigh4,
#menu td.smitemhigh5 {height:1px;background-color:#fff;}

#menu td.terms {font-size:10px;color:#555;border-top:1px solid #555;}
 
/* MENU */

.footer {
font-size: 10px;
font-family: arial,verdana; 
color: #555;
text-decoration: none;
text-align:left;
}

.footer:hover {

font-size: 10px;
font-family: arial,verdana; 
color: #ff3300;
text-decoration: underline;
}

.footerbold {
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	color: #555;
	text-decoration: none;
	text-align:left;
	font-weight: bold;
}

.footerbold:hover {
	font-size: 11px;
	font-family: arial, verdana;
	color: #555;
	text-decoration: underline;
	text-align:left;
	font-weight: bold;
}

.normal {
	font-family:Arial, Helvetica, sans-serif;
	height:18px;
	font-size:11px;
	text-decoration: none;
	color: #006699;
}
.normal:hover {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-decoration: underline;
	}
	
.normal:visited {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	}

.titprod {font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #666666;}
	
.titprog {font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	font-size: 20px;
	color: #ffffff;}
	
.titprodsmall {font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #32559D;
	text-decoration:none}

.titprodsmall:hover {font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-decoration:underline;
	color: #32559D;}
	
.titart {font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
	color: #FFFFFF;}

.headlinefrontpage {
	text-decoration: none;
	font-family: tahoma;
	font-weight: bold;
	font-size: 11px;
	color: #33559D;
}
.headlinefrontpage:hover {
	text-decoration: underline;
}

.stext {
font-size: 10px;
font-family:Arial, Helvetica, sans-serif
color: #666666;
}

.highlightprod {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size:16px
}

.listmenu1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	height: auto;
	width: 140px;
}
.text
{
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif, color: #666666;
	color: #666666;
	text-decoration: none;
}
.textGrid
{
	vertical-align: middle;
	font-variant: small-caps;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif, color: #666666;
	color: gray;
}
.text:hover {
	font-size: 11px;
    font-family:Arial, Helvetica, sans-serif, color: #666666;
	text-decoration: underline;
}
.moduletitle2
	{color:white;background-color:#F3F3F3}.small {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: #797979;
}
.form1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #F8F8F8;
	border: 1px solid #BED3E9;
}
.logmember {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FFFFFF;
}

.logmember:a 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FFFFFF;
	text-decoration:none;
	font-weight : bold;
}

.logmember:hover 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FFFFFF;
	text-decoration: underline;
	font-weight : bold;
}

.logmember:visited
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FFFFFF;
	text-decoration:none;
}
.loggedname {

font-size: 11px;
font-family: arial, verdana; 
color: #FFFFFF;
}.headline1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-decoration: none;
	color: #666666;
}.headline1:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-decoration: underline;
	color: #666666;
}
.titmedio
{
	text-decoration: none;
	font-family: arial, sans-serif;
	font-weight: bold;
	font-size: 11px;
	color: darkred;
}
.titmedioSin
{
	text-decoration: none;
	font-family: arial, sans-serif;
	font-weight: bold;
	font-size: 11px;
	color: darkred;
}

.titmedio:hover {

	text-decoration: underline;
	font-family: arial, sans-serif;
	font-weight: bold;
	font-size: 11px;
	color: #797979;
}
.srv
{
	background-position:bottom; 
	background-repeat:repeat-x;
}
#tError
{
	text-transform:uppercase;
	font-family:Verdana, Arial, Sans-Serif;
}
.tError
{
	color:#FFFFFF;
	font-size:10px;
	background-color:#990000;
}
.done
{
	font-weight:bold;
	color:#000000;
	font-size:14px;
}
h2
{
	font-size:14px;
	font-family:Verdana, Tahoma, Arial, Sans-Serif;
}