<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="pfizer" value="Data Source=72.32.11.238;Initial Catalog=eCardPfizerVen; User ID=AdminVen;Password=4dm1nv3n;Max Pool Size=6000"/>
		<add key="ConnectionString" value="Data Source=184.106.159.211;Initial Catalog=LealtadBenavidesCalidad; User ID=pcweb;Password=PfizerDBUser;Max Pool Size=600"/>
  </appSettings>
	<connectionStrings/>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0"/>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
</configuration>
