<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CallCenterDB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="CallCenterDB.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="CallCenterDB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="CallCenterDB.Properties.Settings.GaleniaTest_ConnectionString"
      connectionString="Data Source=184.107.55.171;Initial Catalog=Galenia_Loyalty_Program;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <CallCenterDB.Properties.Settings>
      <setting name="CallCenterDB_mx_com_rewards_wsRewards_Service_2" serializeAs="String">
        <value>http://loyalty.lms.com.mx:8080/wsrms/wsRewards_Service_2.php</value>
      </setting>
    </CallCenterDB.Properties.Settings>
    <CallCenterDB.Settings>
      <setting name="CallCenterDB_mx_com_rewards_wsRewards_Service_2" serializeAs="String">
        <value>http://loyalty.lms.com.mx:8080/wsrms/wsRewards_Service_2.php</value>
      </setting>
    </CallCenterDB.Settings>
    <CallCenterDB.Properties.Settings>
      <setting name="CallCenterDB_mx_com_rewards_wsRewards_Service_2" serializeAs="String">
        <value>http://loyalty.lms.com.mx:8080/wsrms/wsRewards_Service_2.php</value>
      </setting>
    </CallCenterDB.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
      </basicHttpBinding>
    </bindings>
    <client>
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
