.modalBackground
{
    background-color: black;
    filter: alpha(opacity=60);
    opacity: 0.6;
}

.modalBackground1
{
    background-color: gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
}
.modalBackground2
{
    background-color: white;
    filter: alpha(opacity=70);
    opacity: 0.7;
}
.overlay  
{
position: fixed;
z-index: 98;
top: 0px;
left: 0px;
right: 0px;
bottom: 0px;
background-color: #aaa; 
filter: alpha(opacity=80); 
opacity: 0.8; 
}

.overlayContent
{
z-index: 99;
margin: 250px auto;
width: 32px;
height: 32px;
}

.titulo
{
font-family: Arial;
font-size: 16pt;
color: #004A99;
}
       
.fuenteReporte
{
font-family: Arial Narrow;
font-size: 12pt;
color:#2B347A;
}


.cajatexto {
border: 1px solid #808080;
}

.BackGround {
background-color:#808080;
opacity:0.6;
filter:alpha(opacity=60);
}

.RadButton.rbButton.css3Shadows {
border: 0;
border-radius: 5px;
box-shadow: 1px 2px 5px #666;
}

input[type=submit] {
background-color: #f70606;
color: #fff;
border: 1px solid #808080;
font-family: Arial;
font-size: 12pt;
border-radius: 10px;
width: 80px;
}

input[type=submit]:hover {
background-color: #2B347A;            
}


inputexp[type=submit] {
background-color: #f70606;
color: #fff;
border: 1px solid #808080;
font-family: Arial;
font-size: 12pt;
border-radius: 10px;
width: 75px;
}

inputexp[type=submit]:hover {
background-color: #2B347A;            
}

.gradient {
width: 200px;
height: 200px;

background: #00ff00; /* Para exploradores sin css3 */

/* Para el WebKit (Safari, Google Chrome etc) */
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#CCCCCC));
  
/* Para Mozilla/Gecko (Firefox etc) */
background: -moz-linear-gradient(top, #00ff00, #000000);
  
/* Para Internet Explorer 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00ff00, endColorstr=#000000, GradientType=0);
  
/* Para Internet Explorer 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#FFFFFFFF)";

border:1px solid #595959; border-right:5px solid #595959; border-bottom:2.5px solid #595959;
}

.listview {
margin-top:15px;
margin-left:auto;
margin-right:auto;
margin-bottom:15px;
border:none;
text-align:left;
width:100%;
font-size:12px;
/*border-radius: 22px;*/

}
.listview th {
background-color:#F59F20;
color:white;
text-align:center;
border:none;
text-transform:uppercase;
height:26px;
width:15%;

}
.listview td {
border:none;
/*padding-left:10px;
padding-right:10px;*/
width:250px;
}

.opciones{
width:24px;
text-align:center;
}

.normal-row
{
/*padding: 3px 0px 3px 0px;*/
font-size: 12px;
}

.even-row
{
/*padding: 3px 0px 3px 0px;*/
font-size: 12px;
background-color:#EEEEEE;
}



