<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WebPfizer.LMS.eCard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="pfizer" connectionString="Server=184.106.159.211;Database=eCardPfizerEcuadorProduccion;User Id=PCWEB;Password=PfizerDBUser" providerName="System.Data.SqlClient"/>
    <!--<add name="ConectaReportes"  connectionString="Server=67.192.9.20;Database=LealtadBenavidesCubo;User Id=sa;Password=lm5s4hu4y0123!" providerName="System.Data.SqlClient"/>
    <add name="ConnectionString" connectionString="Server=67.192.9.20;Database=LealtadBenavides;User Id=sa;Password=lm5s4hu4y0123!" providerName="System.Data.SqlClient"/>-->
    <!--<add name="pfizer" connectionString="Server=184.106.159.211;Database=eCardPfizerEcuadorProduccion;User Id=PCWEB;Password=PfizerDBUser" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConectaReportes"  connectionString="Server=67.192.9.20;Database=LealtadBenavidesCubo;User Id=sa;Password=lm5s4hu4y0123!" providerName="System.Data.SqlClient"/>
    <add name="ConnectionString" connectionString="Server=67.192.9.20;Database=LealtadBenavidesPruebas;User Id=sa;Password=lm5s4hu4y0123!" providerName="System.Data.SqlClient"/>-->
    <!--Pruebas-->
    <add name="ConectaReportes"  connectionString="Server=67.192.9.19;Database=LealtadBenavidesCubo;User Id=PCWEB;Password=PfizerDBUser" providerName="System.Data.SqlClient"/>
		<add name="ConnectionString" connectionString="Server=67.192.9.19;Database=LealtadBenavides;User Id=PCWEB;Password=PfizerDBUser" providerName="System.Data.SqlClient"/>
    
  </connectionStrings>  
  <appSettings>
    <!--Pruebas-->
    <!--<add key="ConnectionString" value="Data Source=67.192.9.20;Initial Catalog=LealtadBenavides;User ID=sa;Password=lm5s4hu4y0123!;Max Pool Size=600"/>-->
    <!--Produccion-->
    <add key="ConnectionString" value="Data Source=67.192.9.19;Initial Catalog=LealtadBenavides;User ID=PCWEB;Password=PfizerDBUser;Max Pool Size=600"/>
    
    <!--Pruebas-->
    <add key="URLWSLocatel" value="http://webservices.locatelve.com:8000/sap/bc/srt/rfc/sap/zws_compliance/400/zws_compliance/zws_compliance"/>
    <add key="UsuarioWSLocatel" value="VEUSRRFC"/>
    <add key="PasswordWSLocatel" value="loc99prd"/>
    <!--Produccion-->
    <!--<add key="URLWSLocatel" value="http://webservices.locatelve.com:8002/sap/bc/srt/rfc/sap/zws_compliance/400/zws_compliance/zws_compliance"/>-->
    <!--<add key="UsuarioWSLocatel" value="VEUSRRFC"/>-->
    <!--<add key="PasswordWSLocatel" value="P0S06SAP"/>-->
  </appSettings>
  <system.web>
    <!--
        Set compilation debug="true" to insert debugging
        symbols into the compiled page. Because this
        affects performance, set this value to true only
        during development.
    -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <sessionState timeout="20"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>

    <!--<customErrors mode="RemoteOnly" defaultRedirect="mycustompage.htm"/>-->

  </system.web>
  <system.webServer/>
  <applicationSettings>
    <WebPfizer.LMS.eCard.Properties.Settings>
      <setting name="WebPfizer_LMS_eCard_ZWS_COMPLIANCEService_ZWS_COMPLIANCE" serializeAs="String">
        <value>http://mia33363ap05.managed.cln:8000/sap/bc/srt/rfc/sap/zws_compliance/400/zws_compliance/zws_compliance</value>
      </setting>
      <setting name="WebPfizer_LMS_eCard_WsEcardPrePago_WsEcardPrePago" serializeAs="String">
        <value>http://72.32.11.237/WsEcardPrePagoCALIDAD/WsEcardPrePago.asmx</value>
      </setting>
      <setting name="WebPfizer_LMS_eCard_WSeCardPfizerVen_WsLMSeCardCRM" serializeAs="String">
        <value>http://72.32.11.237/WSeCardPfizerVen/WsLMSeCardCRM.asmx</value>
      </setting>
      <setting name="WebPfizer_LMS_eCard_WsPrepago_WsEcardPrePago" serializeAs="String">
        <value>http://72.32.11.237/WsEcardPrePagoDESA/WsEcardPrePago.asmx</value>
      </setting>
    </WebPfizer.LMS.eCard.Properties.Settings>
  </applicationSettings>
</configuration>
