<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GaleniaTest" connectionString="data source=184.107.55.171;initial catalog=Galenia_Loyalty_Program;persist security info=True;user id=usr_galenia_lp;password=galenialp@2015" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>