.TextStrength /*Base*/
{
    font-weight: bold;
	font-size:11px;
    width: 170px;
    padding: 3px;
}
.MuyDebil /*Rojo*/
{
    background: #FF0000;
    color: #FFFFFF;
}
.Debil /*Naranja*/
{
    background: #FFA500;
    color: #000000;
}
.Regular /*Amarillo*/
{
    background: #FFFF00;
    color: #000000;
}
.Buena /*Verde*/
{
    background: #228B22;
    color: #FFFFFF;
}
.Excelente /*Azul*/
{
    background: #1E90FF;
    color: #FFFFFF;
}
